body{
    font-family: Arial, sans-serif;
    background-color: #ffe6f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.producto{
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    text-align: center;
}

.producto img{
    width: 100%;
    border-radius: 10px;
}

h1{
    color: #e91e63;
}

.descripcion{
    margin: 10px 0;
}

.precio{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

button{
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #c2185b;
}